<h1>Lista de posts:</h1>

{{#each posts}}
    <h1>{{title}}</h1>
    <p>{{content}}</p>
    <a href="/deletar/{{id}}"><button>Deletar</button></a>
    <a href="/atualizar/{{id}}"><button>Atualizar</button></a>
{{/each}}